header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid var(--third-color);
}

header h1 {
  margin: 0;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;

  display: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: var(--second-color);
  text-decoration: none;
}

body {
  height: 100vh;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-top {
  width: 700px;
}

#upload-drag-and-drop-div {
  border: 1px solid var(--second-color);
  margin-top: 10px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-input-div {
  display: flex;
  align-items: center;
}

#upload-input-div label {
  background-color: var(--first-color);
  color: var(--second-color);
  padding: 5px;
}

#upload-input-div input[type="file"] {
  display: none;
}

#upload-input-div p {
  margin-left: 10px;
}

#upload-button-div {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

#upload-button-div button {
  background-color: var(--first-color);
  color: var(--fourth-color);
  width: 150px;
  font-size: 16px;
}

#list-top {
  width: 700px;
}

.item {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid var(--third-color);
}

.item:last-of-type {
  border-bottom: none;
}

.item-buttons {
  display: flex;
}

.item-download-button {
  background-color: var(--first-color);
  color: var(--fourth-color);
  border: none;
  outline: none;
  appearance: none;
}

.item-remove-button {
  background-color: var(--first-color);
  color: var(--fourth-color);
  border: none;
  outline: none;
  appearance: none;
}

.item-filename {
  margin: 0;
  margin-left: 5px;
}

#notfound-msg {
  display: block;
  text-align: center;
}
