header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid var(--third-color);
}

header h1 {
  margin: 0;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;

  display: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: var(--second-color);
  text-decoration: none;
}

body {
  height: 100vh;
}

td > p {
  margin: 0;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-top {
  width: 700px;
}

#upload-drag-and-drop-div {
  border: 1px solid var(--second-color);
  margin-top: 10px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-input-div {
  display: flex;
  align-items: center;
}

#upload-input-div label {
  background-color: var(--first-color);
  color: var(--second-color);
  padding: 5px;
}

#upload-input-div input[type="file"] {
  display: none;
}

#upload-input-div p {
  margin-left: 10px;
}

#upload-button-progress-div {
  margin-top: 0;
  display: flex;
}

#upload-progress-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 15px;
}

#upload-progress-div p {
  text-align: center;
  margin: 0;
  width: 75px;
  font-size: larger;
}

#progress-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 5px;
  height: 30px;
  background-color: var(--third-color);
  width: 100%;
  margin-left: 10px;
  border-radius: 100px;
}

#progress-bar-inner {
  height: 20px;
  width: 0;
  background-color: var(--second-color);
  border-radius: 100px;
  box-shadow: 0 10px 40px -10px var(--second-color);
}

#upload-button-div {
  display: flex;
  justify-content: flex-end;
}

#upload-button-div button {
  background-color: var(--first-color);
  color: var(--fourth-color);
  width: 150px;
  font-size: 16px;
}

#list-top {
  width: 700px;
}

.item {
  display: flex;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid var(--third-color);
  border-radius: 15px;
  flex-direction: column;
}

.item:first-of-type {
  margin-top: 8px;
}

#item-top-container {
  display: flex;
}

.item-buttons {
  display: flex;
}

.item-open-button {
  background-color: var(--first-color);
  color: var(--fourth-color);
  border: none;
  outline: none;
  appearance: none;
}

.item-download-button {
  background-color: var(--first-color);
  color: var(--fourth-color);
  border: none;
  outline: none;
  appearance: none;
}

.item-remove-button {
  background-color: var(--first-color);
  color: var(--fourth-color);
  border: none;
  outline: none;
  appearance: none;
}

.item-filename {
  margin: 0;
  margin-left: 5px;
}

#item-bottom-container {
  width: 100%;
  height: 0;
  overflow: hidden;
}

#item-details-table {
  width: 100%;
  border-top: 1px solid var(--third-color);
  margin-top: 5px;
  padding-top: 2px;
}

#item-details-table p {
  margin: 0;
}

.item-details-desc {
  width: 125px;
}

#item-hash-container {
  border: 1px solid var(--third-color);
  border-radius: 15px;
  padding: 8px;
}

.item-hash-table-div {
  overflow-x: auto;
}

.item-hash-table-div::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.item-hash-table-div::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
}

.item-hash-table-div::-webkit-scrollbar-track {
  background-color: var(--third-color);
}

.item-hash-table {
  width: 100%;
  table-layout: fixed;
}

.item-hash-desc-container {
  display: flex;
}

.item-hash-desc-container p {
  margin: 0;
}

.item-hash-reload-button {
  background-color: var(--first-color);
  color: var(--fourth-color);
  border: none;
  outline: none;
  appearance: none;
}

.item-hash-desc {
  width: 125px;
}

#notfound-msg {
  display: block;
  text-align: center;
}
