<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FILUP</title>
    <link href="assets/css/theme.css" rel="stylesheet" />
    <link href="assets/css/root.css" rel="stylesheet" />
    <link
      href="https://use.fontawesome.com/releases/v6.6.0/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>FILUP</h1>
      <nav>
        <ul>
          <li><a href="#upload-top">アップロード</a></li>
          <li><a href="#list-top">ファイルリスト</a></li>
        </ul>
      </nav>
    </header>
    <div id="top">
      <!-- Upload Field -->
      <div id="upload-top" class="crossing-line-box">
        <span class="box-title">UPLOAD</span>
        <div
          id="upload-drag-and-drop-div"
          ondrop="uploadDropHandler(event);"
          ondragover="uploadDropOverHandler(event);"
        >
          <p>ここにファイルを ドラッグアンドドロップ してください</p>
        </div>
        <div id="upload-input-div">
          <label class="white-corner-box">
            <input
              type="file"
              id="fake-upload-input"
              onchange="onChangeUploadFile()"
            />
            ファイルを選択
          </label>
          <p id="upload-filename">選択されていません</p>
        </div>
        <div id="upload-button-progress-div">
          <div id="upload-progress-div">
            <p>0%</p>
            <div id="progress-bar">
              <div id="progress-bar-inner"></div>
            </div>
          </div>
          <div id="upload-button-div">
            <button class="white-corner-box" onclick="onClickUploadButton()">
              アップロード
            </button>
          </div>
        </div>
      </div>
      <!-- List Field -->
      <div id="list-top" class="crossing-line-box">
        <span class="box-title">FILE LIST</span>
        <div id="file-list">
          {% for file in file_list %}
          <div class="item item-uuid">
            <div class="item-buttons">
              <button
                class="item-download-button"
                onclick="onClickDownloadButton('{{ file.path }}')"
              >
                <i class="fa-solid fa-download"></i>
              </button>
              <button
                class="item-remove-button"
                onclick="onClickRemoveButton(this)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            <p class="item-filename">{{ file.filename }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="assets/javascript/root.js"></script>
  </body>
</html>
